<div class="data">
  <label>Name:</label>
  <p>{{ data.length > 0 ? data[1][0].name : "" }}</p>
  <label>Capital:</label>
  <p>{{ data.length > 0 ? data[1][0].capitalCity : "" }}</p>
  <label>Region:</label>
  <p>{{ data.length > 0 ? data[1][0].region.value : "" }}</p>
  <label>Income Level:</label>
  <p>{{ data.length > 0 ? data[1][0].incomeLevel.value : "" }}</p>
  <label>ISO Code:</label>
  <p>{{ data.length > 0 ? data[1][0].iso2Code : "" }}</p>
  <label>Lending Type:</label>
  <p>{{ data.length > 0 ? data[1][0].lendingType.value : "" }}</p>
</div>
